// 基础样式
html, body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: var(--font-main);
    font-size: var(--font-size-base);
    height: 100%;
    @extend %scrollbar;
}
