// 页脚样式
.footer-wrapper {
    margin-top: auto;
    width: 100%;
    background: var(--color-bg);
/*    color: var(--color-secondary);*/
    z-index:99;

    .footer {
        margin: 0 auto;
        max-width: var(--container-width);
        padding: var(--spacing-md);
        text-align: center;
        border-top: 1px dashed var(--color-border);

        p {
            margin: 0;
            font-size: var(--font-size-meta);

            br {
                display: none; // 默认隐藏换行符
            }
        }

        a {
            text-decoration: none;
            transition: color var(--transition-slow);

            &:hover {
                color: var(--color-primary);
            }
        }

        


    }

    @include mobile {
        .footer {
            padding: var(--spacing-mobile);

            p {
                font-size: var(--font-size-small);
                br {
                    display: block; // 移动端强制换行
                    margin-top: var(--spacing-xs); // 增加换行间距
                }}}
    }
}
