<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ .Site.Params.description }}" />
    <meta name="keywords" content="{{ .Site.Params.keywords }}" />
    <link rel="icon" href="/favicon.png" type="image/png">
    <link rel="stylesheet" href="https://npm.elemecdn.com/lxgw-wenkai-screen-webfont/style.css" media="print" onload="this.media='all'">
    <!-- 主题样式 -->
    {{ $sass := resources.Get "scss/main.scss" }}
    {{ $style := $sass | css.Sass | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}" />

    <title>{{ .Site.Title }}</title>
  </head>
  <body>

    {{ partial "header.html" . }}
    <main class="container">
      {{ block "main" . }}{{ end }}
    </main>
    {{ partial "footer.html" . }}
    {{ partial "modal.html" . }}

    <!-- 基础功能JS -->
    {{ $js := slice 
      (resources.Get "js/plum.js")
      (resources.Get "js/theme.js")
      (resources.Get "js/menu.js")
      (resources.Get "js/modal.js")
      (resources.Get "js/svg.js")
    }}
    {{ $combined := $js | resources.Concat "js/main.js" | resources.Minify | resources.Fingerprint }}
    <script src="{{ $combined.RelPermalink }}" integrity="{{ $combined.Data.Integrity }}"></script>
  </body>
</html>
