{{ define "main" }}
<div class="search-container">   
    <div class="search-box">
        <input type="text" id="search-input" placeholder="请输入搜索关键词..." />
        <button id="search-button">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-search"></use>
            </svg>
        </button>
    </div>

    <div id="search-history" class="search-history"></div>
    
    <div id="search-skeleton" class="search-skeleton" style="display: none;">
        <div class="skeleton-item">
            <div class="skeleton-title"></div>
            <div class="skeleton-summary">
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </div>
        <div class="skeleton-item">
            <div class="skeleton-title"></div>
            <div class="skeleton-summary">
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </div>
        <div class="skeleton-item">
            <div class="skeleton-title"></div>
            <div class="skeleton-summary">
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </div>
    </div>

    <div id="search-results" class="search-results"></div>
    
    <div id="pagination" class="pagination"></div>
</div>

<!-- 使用 unpkg CDN -->
<script src="https://unpkg.com/fuse.js@6.6.2"></script>
<!-- 或者使用 cdnjs -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/6.6.2/fuse.min.js"></script> -->

<!-- 添加搜索脚本 -->
{{ $search := resources.Get "js/search.js" | minify | fingerprint }}
<script src="{{ $search.RelPermalink }}" integrity="{{ $search.Data.Integrity }}"></script>
{{ end }}
