{{ define "main" }}
<div class="single-container">
    <!-- 骨架屏 -->
    <div class="skeleton-container">
        {{ partial "skeleton-single.html" . }}
    </div>

    <!-- 文章内容 -->
    <article class="single-content" style="display: none;">
        <h2>{{ .Title }}</h2>

        <!-- 文章元数据 -->
        <div class="meta-info">           
            <span class="meta-item">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-date-single"></use>
                </svg>
                <a href="/timeline" class="meta-link">
                    {{ .Date.Format "2006-01-02" }}
                </a>
            </span>

            {{ if .Params.location }}
                <span class="meta-item">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-location-single"></use>
                </svg>
                    {{ .Params.location }}
                </span>
            {{ end }}


            {{ if .Params.tags }}
            <span class="meta-item">

                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-tags-single"></use>
                </svg>

                {{ range .Params.tags }}
                <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}/" class="tag">{{ . }}</a>
                {{ end }}
            </span>
            {{ end }}
        </div>

        <!-- 文章内容正文 -->
        <div class="content">
            {{ .Content }}
        </div>
    </article>
</div>
{{ end }}
