<div class="search-skeleton">
    <div class="skeleton-item">
        <div class="skeleton-title"></div>
        <div class="skeleton-summary">
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </div>
    <div class="skeleton-item">
        <div class="skeleton-title"></div>
        <div class="skeleton-summary">
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </div>
    <div class="skeleton-item">
        <div class="skeleton-title"></div>
        <div class="skeleton-summary">
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </div>
</div> 