{{ define "main" }}
<div class="lottie-container">
    <!-- Lottie 动画 -->
        <dotlottie-player 
            src="https://lottie.host/db855adb-f2e7-43fe-96f6-d1749c78497e/aA1aTEOVeA.lottie" 
            background="transparent" 
            speed="1" 
            loop autoplay>
        </dotlottie-player>

    <!-- 返回链接 -->
    <a href="/" class="return-link">返回首页</a>
</div>
<script src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs" type="module"></script>
{{ end }}